@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

/* Contains styles for book */
.book {
  width: 100%;
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipbook {
  background-color: white;
  height: 100%;
  width: 430px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.page {
  background-color: white;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  height: 100%;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  padding-top: 1rem;
  border-top: solid 1px black;
  font-family: 'Nunito';
}

#bookDiscription {
  margin-top: auto;
  text-align: center;
  font-size: small;
}

#cover {
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  background-image: url('http://www.designbookcover.pt/uploads/media/photos/cache/b1_only_words_72_media_huge_thumbnail.jpg');
}
