@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Special+Elite&display=swap');
:root {
  --primary-color: #53284d;
  --light-color: #3a3b41;
}

.mainContainer {
  padding: 0.4rem 1.6rem 0 1.6rem;
}

/* Top Header Start */
.profile-pic {
  width: 45px;
  border-radius: 9px;
}

.user-title {
  font-family: 'Nunito';
  font-weight: 800;
  font-size: 20px;
  color: black;
  margin: 0;
}

.description {
  font-family: 'Nunito';
  font-weight: 600;
  color: var(--light-color);
  margin: 0;
}

.theme-box {
  width: 20px;
  height: 20px;
  border: solid 1px #333;
  margin: 0 10px 0 0;
  cursor: pointer;
  transform: 1s ease;
}

.theme-box:hover {
  transform: scale(1.1);
}
/* Top Header End */

.header-container {
  height: 50px;
}
/* Donation Details Section Start */
.donation-details > .next-info,
.donation-details > .total-money {
  font-family: 'Nunito';
  font-weight: 800;
  color: var(--light-color);
  height: 25px;
}

.donation-details > .next-info > p {
  margin: 0 0 0 0.4rem;
}

.donation-details > .total-money > p {
  color: black;
  margin: 0 0 0 0.4rem;
}

.donation-details > .total-money > p > span {
  color: var(--light-color);
  font-family: 'Nunito';
  font-weight: 600;
}

.disabled-btn {
  background-color: #c2a2be !important;
  border: none;
}

.donate-btn {
  margin-left: 1.4rem;
  border-radius: 9px;
  font-family: 'Nunito';
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.6rem 1.4rem;
}

.bullet {
  width: 11px;
  height: 11px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
/* Donation Details Section Start */

/* Footer Section Start */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.4rem;
}

.col-1,
.col-2 {
  width: 200px;
  height: 45px;
  margin: 6px 22px;
}

.col-2 {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100%;
  height: auto;
}

.col-2 .logo {
  height: 30px;
  width: 140px;
}

.vertical-line {
  width: 2px;
  background-color: var(--light-color);
  height: 65px;
}

.ratings > span {
  font-size: 14px;
  font-family: 'Nunito';
  font-weight: normal;
}
.bi-star,
.bi-star-fill {
  font-size: 14px;
}

.bi-star-fill {
  color: #fff230;
}

/* Footer Section End */

/* Book Section Start */
#bookDiscription {
  font-family: 'Special Elite';
  font-size: 17px;
  overflow-y: scroll;
}
#title {
  font-family: 'Libre Caslon Text';
  font-size: x-large;
  text-align: center;
}
/* Book Section End */

/* Raw Styles */
hr {
  margin-top: 10px;
  background-color: #7b7b7b;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(77, 76, 76, 0.5);
  border-radius: 12px;
}
/* Modal Style Start */
.heading {
  text-align: center;
}

.progressbarContainer {
  width: 50%;
  margin-top: 25px;
}

.displayEx {
  font-size: 24px;
  padding-bottom: 4px;
}

.mainRow {
  width: 75%;
  padding-top: 45px;
}

.bookDescription {
  font-size: 16px;
}

.info {
  width: 24px;
  height: 24px;
}

.modelSections {
  font-weight: bold;
}

.close {
  padding-left: 40px;
  padding-top: 24px;
}

/* Modal Style End */
